#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

.card {
    height: 100%;
    border: none;
    -webkit-box-shadow: 2px 3px 7px 0 rgba(50, 50, 50, .11);
    -moz-box-shadow: 2px 3px 7px 0 rgba(50, 50, 50, .11);
    box-shadow: 2px 3px 7px 0 rgba(50, 50, 50, .11);
    overflow: hidden;
    transition: .3s;
}

.card-img-top {
    object-fit: cover;
    max-height: 150px;
    transition: 0.3s;
}

.card-img {
    object-fit: cover;
    max-height: 130px;
    transition: 0.3s;
}

@media only screen and (max-width: 600px) {
    .card-img-top {
        max-height: 300px;
    }

    .card-img {
        max-height: 250px;
    }
}

a:hover .card .card-img {
    transform: scale(1.1);
}

.card-title {
    font-size: 0.85rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    transition: 0.3s;
}

.card-text {
    font-size: .75rem;
    margin-bottom: 0.5rem;
}

a:hover .card {
    -webkit-box-shadow: 2px 3px 7px 0 rgba(50, 50, 50, .3);
    -moz-box-shadow: 2px 3px 7px 0 rgba(50, 50, 50, .3);
    box-shadow: 2px 3px 7px 0 rgba(50, 50, 50, .3);
}

a:hover .card .card-img-top {
    transform: scale(1.1);
}

a:hover .card .card-title {
    transform: translate(0.3rem, 0);
    -webkit-transform: translate(0.3rem, 0);
    /** Chrome & Safari **/
    -o-transform: translate(0.3rem, 0);
    /** Opera **/
    -moz-transform: translate(0.3rem, 0);
    /** Firefox **/
}

.bg-dark {
    background-color: #114769 !important;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #5CACC2 !important;
}

a,
a:hover {
    color: #000;
    text-decoration: none;
    ;
}

p {
    margin-bottom: 0;
}



.heading-blog {
    box-shadow: 0px 0.3rem 0px 0px rgba(17, 71, 105, 1)
}

.heading-blog .heading {
    width: fit-content;
    color: #fff;
    background-color: #114769;
    padding: 0.5rem 1.5rem;
    padding-bottom: 0.2rem;
}


@media only screen and (min-width: 600px) {
    .heading-blog .heading {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }
}

.carousel {
    -webkit-box-shadow: 2px 3px 7px 0 rgba(50, 50, 50, .3);
    -moz-box-shadow: 2px 3px 7px 0 rgba(50, 50, 50, .3);
    box-shadow: 2px 3px 7px 0 rgba(50, 50, 50, .3);
}

.page-container {
    min-height: calc(100vh - 9rem);
    box-shadow: none;
}

.blog {
    display: flex;
    flex: 1;
}

.blog .blog-content {
    flex: 1;
    width: 100%;
}

.blog .left-sidebar {
    flex: 1;
    max-width: 320px;
}

.blog .right-sidebar {
    flex: 1;
    max-width: 320px;
}


@media only screen and (min-width: 1320px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1280px;
    }
}

.breadcrumb {
    font-size: 0.75rem;
    margin-bottom: 0;
}

.post-body {
    padding: 1rem;
}